<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConexionDB" connectionString="Data Source=mssql1.us1.gearhost.com; Initial Catalog=publimi; Persist Security Info=True; User ID=publimi; Password=Jg7Sz_KKm?P1	;" providerName="System.Data.SqlClient" />
    <add name="ConexionDB2" connectionString="Data Source=mssql1.us1.gearhost.com; Initial Catalog=publimi; Persist Security Info=True; User ID=publimi; Password=Jg7Sz_KKm?P1	;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- MAIL -->
    <add key="MAIL_Server" value="servidorcorreo.com" />
    <add key="MAIL_Cuenta" value="cuentaEnvioCorreos@ejemplo.com" />
    <add key="MAIL_User" value="usuario" />
    <add key="MAIL_Pass" value="pass" />
    <add key="MAIL_Port" value="puerto" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>